/**
 * Styles for controlling the placester widgets
 */

.postbox-container .meta-box-sortables {
    min-height: 10px !important;
}
#placester_leads_table {
    width: 600px;
}
#placester_leads_table tr td {
    text-align: center;
    padding: 3px;
}
#placester_leads_table .odd {
    background-color: #eee;
}
#placester_leads_table_info {
    /* margin: 10px 5px 0 0; */
    float: right;
}
#leads_container > div {
    position: absolute;
    bottom: 15px;
}
div.error, div.updated {
    margin-left: 0;
}
#leads_container > div.dataTables_wrapper {
    position: relative;
    bottom: 0;
}
.dataTables_wrapper:before, .dataTables_wrapper:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.dataTables_wrapper:after { clear: both; }
/* Fix dataTables_wrapper: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.dataTables_wrapper { zoom: 1; }
#placester_leads_table_paginate {
    margin: 10px;
}
#placester_leads_table_paginate .paginate_button {
   padding: 5px 5px;
   color: #333;
   margin-right: 4px;
   background-color: #E9E8E3;
}
#placester_leads_table_paginate .paginate_active {
   padding: 5px 5px;
   color: #21759B;
   margin-right: 4px;
   background-color: #E9E8E3;
}



/**
 * Styles for the lead pop up from the leads widget
 */

.placester_lead_title {
    font-size: 16px;
    font-weight: bold;
}
.placester_lead_row {
    padding: 5px 0px;
}
.placester_lead_row span {
    margin: 0px 10px;
}
 


/**
 *      Formatting the powered by logos
 */

#piechart div {
  float: right;
  font-size: 10px;
}

#linechart div {
  float: right;
  font-size: 10px;
}



/**
 * Formatting null message overlays
 */

.null-message {
  width: 150px;
  position: absolute;
  left: 50%;
  top: 0px; 
  margin: 100px 0 0 -75px;
  background-color: white;
  border: 1px solid #DFDFDF;
  padding: 5px;
}
.null-message p {
  font-size: 11px;
  margin: 0 0 0 5px;
}
  
  
