<table border="0" width="969" bgcolor="#100C09" background="pattern.png" align="center" cellpadding="0" cellspacing="0" style="border-width: 0 1px; border-color: #352a21; border-style: solid;">
	<!-- header -->
	<tr>
		<td>
			<table width="969" border="0" cellspacing="0" cellpadding="0" background="bg-header.png">
				<tr>
					<td colspan="4"><img src="none.gif" width="1" height="8"></td>
					<td width="548" rowspan="2" valign="middle" align="right"><font style="font-size:36px;line-height:40px;" size="6" color="#555555" face="Arial, Helvetica, sans-serif">[organization.name]</font>
				<br>
						<font style="font-size:10px;line-height:14px;" size="1" color="#ed7103" face="Arial, Helvetica, sans-serif">[organization.slogan]</font></td>
				  <td width="10" rowspan="2"><img src="none.gif" width="10" height="1"></td>
			  </tr>
				<tr>
					<td width="13"><img src="none.gif" width="13" height="1"></td>
			  <td width="98">
	  <table border="0" bgcolor="#4e4d4c" cellspacing="0" cellpadding="3">
							<tr><td>[user.headshot 76x60]</td></tr>
						</table>
					</td>
				  <td width="10"><img src="none.gif" width="10" height="1"></td>
					<td width="290">
		  <table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<table border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td><img src="ico1.png" width="10" height="11" vspace="0" hspace="0" align="left"></td>
											<td><img src="none.gif" width="7" height="1"></td>
											<td><font style="font-size:18px;line-height:24px;" size="3" color="#555555" face="Arial, Helvetica, sans-serif">[user.first_last] [user.last_name]</font></td>
										</tr>
										<tr>
											<td><img src="ico2.png" width="11" height="11" vspace="0" hspace="0" align="left"></td>
											<td><img src="none.gif" width="7" height="1"></td>
											<td><font style="font-size:18px;line-height:24px;" size="3" color="#ed7103" face="Arial, Helvetica, sans-serif">[user.phone]</font></td>
										</tr>
										<tr>
											<td><img src="ico3.png" width="11" height="8" vspace="0" hspace="0" align="left"></td>
											<td><img src="none.gif" width="7" height="1"></td>
											<td><a href="mailto:[user.email]"><font style="font-size:14px;line-height:20px;" size="3" color="#555555" face="Arial, Helvetica, sans-serif">[user.email]</font></a></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
					
			  </tr>
				<tr>
					<td><img src="none.gif" width="1" height="12"></td>
				</tr>
			</table>
		</td>
	</tr>
	<!-- /header -->
	<!-- intro-block -->
	<tr>
		<td>
			<table width="969" border="0" cellspacing="0" cellpadding="0" background="bg-intro.png">
				<tr>
					<td>
						<img src="none.gif" width="1" height="30">
					</td>
				</tr>
				<tr valign="top">
					<td><img src="none.gif" width="29" height="1"></td>
					<td width="327">
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><font style="font-size:22px;line-height:27px;" size="3" color="#ed7103" face="Arial, Helvetica, sans-serif">[property.location.address] [property.property_type] Details</font></td>
							</tr>
							<tr><td><img src="none.gif" width="1" height="20"></td></tr>
							<tr>
								<td>
									<table width="327" border="0" cellspacing="0" cellpadding="0">
										<tr bgcolor="#000000"><td width="10"><img src="none.gif" width="10" height="1"></td>
										<td><font style="font-size:15px;line-height:28px;" size="2" color="#A4A4A4" face="Arial, Helvetica, sans-serif">Price:</font> <font style="font-size:15px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">$[property.price] [property.price_per]</font></td>
									  </tr>
										<tr bgcolor="#121212"><td width="10"><img src="none.gif" width="10" height="1"></td><td><font style="font-size:15px;line-height:28px;" size="2" color="#A4A4A4" face="Arial, Helvetica, sans-serif">Neighborhood:</font> <font style="font-size:15px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">[property.location.city]</font></td></tr>
										<tr bgcolor="#000000"><td width="10"><img src="none.gif" width="10" height="1"></td><td><font style="font-size:15px;line-height:28px;" size="2" color="#A4A4A4" face="Arial, Helvetica, sans-serif">Bedroom(s):</font> <font style="font-size:15px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">[property.bedrooms]</font></td></tr>
										<tr bgcolor="#121212"><td width="10"><img src="none.gif" width="10" height="1"></td><td><font style="font-size:15px;line-height:28px;" size="2" color="#A4A4A4" face="Arial, Helvetica, sans-serif">Bathroom(s):</font> <font style="font-size:15px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">[property.bathrooms]</font></td></tr>
										<tr bgcolor="#000000"><td width="10"><img src="none.gif" width="10" height="1"></td><td><font style="font-size:15px;line-height:28px;" size="2" color="#A4A4A4" face="Arial, Helvetica, sans-serif">Half Bathrooms:</font> <font style="font-size:15px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">[property.half_baths]</font></td></tr>
										<tr bgcolor="#121212"><td width="10"><img src="none.gif" width="10" height="1"></td>
										<td><font style="font-size:15px;line-height:28px;" size="2" color="#A4A4A4" face="Arial, Helvetica, sans-serif">Availability:</font> <font style="font-size:15px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">[property.available_on]</font></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr><td><img src="none.gif" width="1" height="22"></td></tr>
							<tr>
								<td>
									<table border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td><a href="#learn-more"><img src="btn-more-details.gif" border="0" width="153" height="50" vspace="0" hspace="0" align="left"></a></td>
											<td><img src="none.gif" width="14" height="1" vspace="0" hspace="0" align="left"></td>
											<td><a href="[website.listings]"><img src="btn-more-listings.gif" border="0" width="160" height="50" vspace="0" hspace="0" align="left"></a></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
					<td><img src="none.gif" width="44" height="1"></td>
					<td width="518">
						<table bgcolor="#191919" border="0" cellspacing="0" cellpadding="5" style="border: 1px solid #2d2d2d;">
							<tr><td>[property.images.0 518x0]</td></tr>
						</table>
					</td>
					<td><img src="none.gif" width="31"></td>
				</tr>
				<tr><td><img src="none.gif" width="1" height="37"></td></tr>
			</table>
		</td>
	</tr>
	<!-- /intro-block -->
	<tr>
		<td>
			<!-- main area -->
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><img src="none.gif" height="22" width="1"></td>
				</tr>
				<tr valign="top">
					<td><img src="none.gif" height="1" width="29"></td>
					<!-- content -->
					<td id="learn-more">
						<h2 style="margin: 0 0 25px;"><font style="font-size:24px;line-height:28px; font-weight:normal;" size="3" color="#ffe8b0" face="Arial, Helvetica, sans-serif"> Description</font></h2>
					  <p style="margin: 0 0 40px; font: 15px/28px Arial, Helvetica, sans-serif; color:#ffffff;">[property.description]</p>
						<h2 style="margin: 0 0 25px;"><font style="font-size:24px;line-height:28px; font-weight:normal;" size="3" color="#ffe8b0" face="Arial, Helvetica, sans-serif">Features</font></h2>
		  <table width="555" border="0" cellspacing="0" cellpadding="0" style="margin: 0 0 40px;">
                            [property.amenities.parking_included has]
							<tr bgcolor="[cycle.amenities 000000,121212]">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Parking:</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Included</font></td>
							</tr>
                            [property.amenities.parking_included hasend]
                            [property.amenities.parking_garage has]
							<tr bgcolor="[cycle.amenities 000000,121212]">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Parking:</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Garage</font></td>
							</tr>
                            [property.amenities.parking_garage hasend]
                            [property.amenities.parking_street has]
							<tr bgcolor="[cycle.amenities 000000,121212]">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Parking:</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Street</font></td>
							</tr>
                            [property.amenities.parking_street hasend]
                            [property.amenities.parking_avail has]
							<tr bgcolor="[cycle.amenities 000000,121212]">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Parking:</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Available</font></td>
							</tr>
                            [property.amenities.parking_avail hasend]

                            [property.amenities.heat_included has]
							<tr bgcolor="[cycle.amenities 000000,121212]">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Heat Included:</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Yes</font></td>
							</tr>
                            [property.amenities.heat_included hasend]

                            [property.amenities.hotwater_included has]
							<tr bgcolor="[cycle.amenities 000000,121212]">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Heat Included:</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Yes</font></td>
							</tr>
                            [property.amenities.hotwater_included hasend]

                            [property.amenities.gas_included has]
							<tr bgcolor="[cycle.amenities 000000,121212]">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Gas Included:</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Yes</font></td>
							</tr>
                            [property.amenities.gas_included hasend]

                            [property.amenities.utilities_paid has]
							<tr bgcolor="[cycle.amenities 000000,121212]">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Utilities Included:</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Yes</font></td>
							</tr>
                            [property.amenities.utilities_paid hasend]

                            [property.amenities.electricity_included has]
							<tr bgcolor="[cycle.amenities 000000,121212]">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Electricity Included:</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Yes</font></td>
							</tr>
                            [property.amenities.electricity_included hasend]

                            [property.amenities.is_cable_ready has]
							<tr bgcolor="[cycle.amenities 000000,121212]">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">TV / Cable Ready:</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Yes</font></td>
							</tr>
                            [property.amenities.is_cable_ready hasend]

                            [property.amenities.has_lawn has]
							<tr bgcolor="[cycle.amenities 000000,121212]">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Has Lawn:</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Yes</font></td>
							</tr>
                            [property.amenities.has_lawn hasend]

                            [property.amenities.has_pool has]
							<tr bgcolor="[cycle.amenities 000000,121212]">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Has Pool:</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Yes</font></td>
							</tr>
                            [property.amenities.has_pool hasend]

                            [property.amenities.has_security_system has]
							<tr bgcolor="[cycle.amenities 000000,121212]">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Alarm / Security System:</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Yes</font></td>
							</tr>
                            [property.amenities.has_security_system hasend]

                            [property.amenities.has_basement has]
							<tr bgcolor="[cycle.amenities 000000,121212]">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Basement Access:</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Yes</font></td>
							</tr>
                            [property.amenities.has_basement hasend]

                            [property.amenities.fee_one_month has]
							<tr bgcolor="[cycle.amenities 000000,121212]">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Fee:</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Client pays one month</font></td>
							</tr>
                            [property.amenities.fee_one_month hasend]
                            [property.amenities.fee_half_month has]
							<tr bgcolor="[cycle.amenities 000000,121212]">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Fee:</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Client pays half month</font></td>
							</tr>
                            [property.amenities.fee_half_month hasend]
                            [property.amenities.fee_owner has]
							<tr bgcolor="[cycle.amenities 000000,121212]">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Fee:</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Owner pays</font></td>
							</tr>
                            [property.amenities.fee_owner hasend]
                            [property.amenities.fee_discounted has]
							<tr bgcolor="[cycle.amenities 000000,121212]">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Fee:</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Discounted</font></td>
							</tr>
                            [property.amenities.fee_discounted hasend]

                            [property.amenities.dogs_permitted has]
							<tr bgcolor="[cycle.amenities 000000,121212]">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Pet(s):</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Dogs permitted</font></td>
							</tr>
                            [property.amenities.dogs_permitted hasend]
                            [property.amenities.cats_permitted has]
							<tr bgcolor="[cycle.amenities 000000,121212]">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Pet(s):</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Cats permitted</font></td>
							</tr>
                            [property.amenities.cats_permitted hasend]
                            [property.amenities.pet_with_approval has]
							<tr bgcolor="[cycle.amenities 000000,121212]">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Pet(s):</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Pets with approval</font></td>
							</tr>
                            [property.amenities.pet_with_approval hasend]
                            [property.amenities.no_pets has]
							<tr bgcolor="[cycle.amenities 000000,121212]">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Pet(s):</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Not allowed</font></td>
							</tr>
                            [property.amenities.no_pets hasend]
						</table>
						<h2 style="margin: 0 0 6px;"><font style="font-size:24px;line-height:28px; font-weight:normal;" size="3" color="#ffe8b0" face="Arial, Helvetica, sans-serif">Location</font></h2>
					  <h3 style="margin: 0 0 15px;"><font style="font-size:15px;line-height:28px; font-weight:normal;" size="3" color="#fc7802" face="Arial, Helvetica, sans-serif"><i>[property.location.full_address]</i></font></h3>
						<table bgcolor="#373737" border="0" cellspacing="0" cellpadding="5">
							<tr><td>[property.location.google 545x250]</td></tr>
						</table>
					</td>
					<!-- /content -->
					<td><img src="none.gif" width="47" height="1"></td>
					<!-- sidebar -->
					<td>
						<table width="308" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><font style="font-size:24px;line-height:28px; font-weight:normal;" size="3" color="#ffe8b0" face="Arial, Helvetica, sans-serif">Photos</font></td>
						  </tr>
							<tr><td><img src="none.gif" width="1" height="16"></td></tr>
							<tr>
								<td>
									<table bgcolor="#4E4D4C" border="0" cellspacing="0" cellpadding="3">
										<tr><td>[property.images.0 302x200]</td></tr>
									</table>
								</td>
							</tr>
							<tr><td><img src="none.gif" width="1" height="10"></td></tr>
							<tr>
								<td>
									<table bgcolor="#4E4D4C" border="0" cellspacing="0" cellpadding="3">
										<tr><td>[property.images.1 302x200]</td></tr>
									</table>
								</td>
							</tr>
							<tr><td><img src="none.gif" width="1" height="10"></td></tr>
							<tr>
								<td>
									<table bgcolor="#4E4D4C" border="0" cellspacing="0" cellpadding="3">
										<tr><td>[property.images.2 302x200]</td></tr>
									</table>
								</td>
							</tr>
							<tr><td><img src="none.gif" width="1" height="10"></td></tr>
							<tr>
								<td>
									<table bgcolor="#4E4D4C" border="0" cellspacing="0" cellpadding="3">
										<tr><td>[property.images.3 302x200]</td></tr>
									</table>
								</td>
							</tr>
							<tr><td><img src="none.gif" width="1" height="10"></td></tr>
							
						</table>
					</td>
					<!-- /sidebar -->
					<td><img src="none.gif" width="30" height="1"></td>
				</tr>
			</table>
			<!-- /main area -->
		</td>
	</tr>
	<tr><td><img src="none.gif" width="1" height="41"></td></tr>
	<!-- footer -->
	<tr bgcolor="#1a1a1a" background="bg-footer.png">
		<td>
			<table width="969" border="0" cellspacing="0" cellpadding="0">
				<tr><td width="13"><img src="none.gif" width="1" height="10"></td>
			  </tr>
				<tr>
					<td><img src="none.gif" width="12" height="1"></td>
					<td width="570" valign="middle"><font style="font-size:16px;line-height:20px;" size="2" color="#484747" face="Arial, Helvetica, sans-serif">Powered by </font><a href="#"><font style="font-size:16px;line-height:20px;" size="2" color="#ADACAC" face="Arial, Helvetica, sans-serif">Placester</font></a></td>
			  <td width="386" valign="middle" align="right">
						<font style="font-size:36px;line-height:40px;" size="6" color="#FFFFFF" face="Arial, Helvetica, sans-serif">[organization.name]</font>
				<br>
						<font style="font-size:10px;line-height:14px;" size="1" color="#ffe8b0" face="Arial, Helvetica, sans-serif">[organization.slogan]</font>
					</td>
			  </tr>
				<tr><td><img src="none.gif" width="1" height="10"></td></tr>
			</table>
		</td>
	</tr>
	<!-- /footer -->
</table>