<table border="0" width="969" bgcolor="#100C09" background="pattern.png" align="center" cellpadding="0" cellspacing="0" style="border-width: 0 1px; border-color: #352a21; border-style: solid;">
	<!-- header -->
	<tr>
		<td>
			<table width="969" border="0" cellspacing="0" cellpadding="0" background="bg-header.png">
				<tr>
					<td colspan="4"><img src="none.gif" width="1" height="8"></td>
					<td rowspan="2"><a href="#"><img src="logo.png" width="198" height="89" border="0" vspace="0" hspace="0" align="left"></a></td>
					<td rowspan="2"><img src="none.gif" width="10" height="1"></td>
				</tr>
				<tr>
					<td><img src="none.gif" width="13" height="1"></td>
					<td>
						<table border="0" bgcolor="#4e4d4c" cellspacing="0" cellpadding="3">
							<tr><td><img src="img1.png" width="76" height="60" vspace="0" hspace="0" align="left"></td></tr>
						</table>
					</td>
					<td><img src="none.gif" width="10" height="1"></td>
					<td width="685">
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<table border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td><img src="ico1.png" width="10" height="11" vspace="0" hspace="0" align="left"></td>
											<td><img src="none.gif" width="7" height="1"></td>
											<td><font style="font-size:18px;line-height:24px;" size="3" color="#555555" face="Arial, Helvetica, sans-serif">Karen Smith</font></td>
										</tr>
										<tr>
											<td><img src="ico2.png" width="11" height="11" vspace="0" hspace="0" align="left"></td>
											<td><img src="none.gif" width="7" height="1"></td>
											<td><font style="font-size:18px;line-height:24px;" size="3" color="#ed7103" face="Arial, Helvetica, sans-serif">617-819-248</font></td>
										</tr>
										<tr>
											<td><img src="ico3.png" width="11" height="8" vspace="0" hspace="0" align="left"></td>
											<td><img src="none.gif" width="7" height="1"></td>
											<td><a href="#"><font style="font-size:14px;line-height:20px;" size="3" color="#555555" face="Arial, Helvetica, sans-serif">k.smith@loremproperty.com</font></a></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
					
				</tr>
				<tr>
					<td><img src="none.gif" width="1" height="12"></td>
				</tr>
			</table>
		</td>
	</tr>
	<!-- /header -->
	<!-- intro-block -->
	<tr>
		<td>
			<table width="969" border="0" cellspacing="0" cellpadding="0" background="bg-intro.png">
				<tr>
					<td>
						<img src="none.gif" width="1" height="30">
					</td>
				</tr>
				<tr valign="top">
					<td><img src="none.gif" width="29" height="1"></td>
					<td width="327">
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><font style="font-size:22px;line-height:27px;" size="3" color="#ed7103" face="Arial, Helvetica, sans-serif">Newbury St. Sunny Upper Floor Front Facing Studio</font></td>
							</tr>
							<tr><td><img src="none.gif" width="1" height="20"></td></tr>
							<tr>
								<td>
									<table width="327" border="0" cellspacing="0" cellpadding="0">
										<tr bgcolor="#000000"><td width="10"><img src="none.gif" width="10" height="1"></td><td><font style="font-size:15px;line-height:28px;" size="2" color="#A4A4A4" face="Arial, Helvetica, sans-serif">Rent : </font><font style="font-size:15px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">$1550.00</font></td></tr>
										<tr bgcolor="#121212"><td width="10"><img src="none.gif" width="10" height="1"></td><td><font style="font-size:15px;line-height:28px;" size="2" color="#A4A4A4" face="Arial, Helvetica, sans-serif">Available : </font><font style="font-size:15px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">June 01,2011</font></td></tr>
										<tr bgcolor="#000000"><td width="10"><img src="none.gif" width="10" height="1"></td><td><font style="font-size:15px;line-height:28px;" size="2" color="#A4A4A4" face="Arial, Helvetica, sans-serif">Land Area : </font><font style="font-size:15px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">35,000 sq.ft</font></td></tr>
										<tr bgcolor="#121212"><td width="10"><img src="none.gif" width="10" height="1"></td><td><font style="font-size:15px;line-height:28px;" size="2" color="#A4A4A4" face="Arial, Helvetica, sans-serif">Year Built : </font><font style="font-size:15px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">2008</font></td></tr>
										<tr bgcolor="#000000"><td width="10"><img src="none.gif" width="10" height="1"></td><td><font style="font-size:15px;line-height:28px;" size="2" color="#A4A4A4" face="Arial, Helvetica, sans-serif">Building Size : </font><font style="font-size:15px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">5,000sq.ft</font></td></tr>
										<tr bgcolor="#121212"><td width="10"><img src="none.gif" width="10" height="1"></td><td><font style="font-size:15px;line-height:28px;" size="2" color="#A4A4A4" face="Arial, Helvetica, sans-serif">Bathrooms : </font><font style="font-size:15px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">4</font></td></tr>
										<tr bgcolor="#000000"><td width="10"><img src="none.gif" width="10" height="1"></td><td><font style="font-size:15px;line-height:28px;" size="2" color="#A4A4A4" face="Arial, Helvetica, sans-serif">Bedrooms : </font><font style="font-size:15px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">5</font></td></tr>
										<tr bgcolor="#121212"><td width="10"><img src="none.gif" width="10" height="1"></td><td><font style="font-size:15px;line-height:28px;" size="2" color="#A4A4A4" face="Arial, Helvetica, sans-serif">Reference : </font><font style="font-size:15px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">#136212</font></td></tr>
									</table>
								</td>
							</tr>
							<tr><td><img src="none.gif" width="1" height="22"></td></tr>
							<tr>
								<td>
									<table border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td><a href="#"><img src="btn-more-details.png" border="0" width="153" height="50" vspace="0" hspace="0" align="left"></a></td>
											<td><img src="none.gif" width="14" height="1" vspace="0" hspace="0" align="left"></td>
											<td><a href="#"><img src="btn-more-listings.png" border="0" width="160" height="50" vspace="0" hspace="0" align="left"></a></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
					<td><img src="none.gif" width="44" height="1"></td>
					<td>
						<table bgcolor="#191919" border="0" cellspacing="0" cellpadding="5" style="border: 1px solid #2d2d2d;">
							<tr><td><img src="img2.jpg" width="518" height="355" vspace="0" hspace="0" align="left"></td></tr>
						</table>
					</td>
					<td><img src="none.gif" width="31" height=""></td>
				</tr>
				<tr><td><img src="none.gif" width="1" height="37"></td></tr>
			</table>
		</td>
	</tr>
	<!-- /intro-block -->
	<tr>
		<td>
			<!-- main area -->
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><img src="none.gif" height="22" width="1"></td>
				</tr>
				<tr valign="top">
					<td><img src="none.gif" height="1" width="29"></td>
					<!-- content -->
					<td>
						<h2 style="margin: 0 0 25px;"><font style="font-size:24px;line-height:28px; font-weight:normal;" size="3" color="#ffe8b0" face="Arial, Helvetica, sans-serif">Property Description</font></h2>
						<p style="margin: 0 0 40px; font: 15px/28px Arial, Helvetica, sans-serif; color:#ffffff;">Renovation just finished in Aug '08. Total character and charm 2 bed on the sunny top floor of an absolutely beautiful pre-war brick building right in the middle Harvard Square. Hardwood floors throughout, heat and hot water included. Laundry in unit. Eat-in kitchen has granite counters, new appliances including a dishwasher. The apartment has high ceilings and detailed moldings. Private Roof deck, too. NO FEE (Reference #136212)</p>
						<h2 style="margin: 0 0 25px;"><font style="font-size:24px;line-height:28px; font-weight:normal;" size="3" color="#ffe8b0" face="Arial, Helvetica, sans-serif">Property Features</font></h2>
						<table width="555" border="0" cellspacing="0" cellpadding="0" style="margin: 0 0 40px;">
							<tr bgcolor="#000000">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Stainless Steel Kitchen</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Elevator</font></td>
							</tr>
							<tr bgcolor="#121212">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Brand New Bathroom</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">High Ceiling</font></td>
							</tr>
							<tr bgcolor="#000000">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">4 Big Bedrooms plus an Office</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Parking Available</font></td>
							</tr>
							<tr bgcolor="#121212">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Brand New Bathroom</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Recessed Lighting</font></td>
							</tr>
							<tr bgcolor="#000000">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Mahogany Floors</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Central Air</font></td>
							</tr>
							<tr bgcolor="#121212">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Dishwasher</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Stainless Steel Appliances</font></td>
							</tr>
							<tr bgcolor="#000000">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Parking Available</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Living and Dining Rooms</font></td>
							</tr>
							<tr bgcolor="#121212">
								<td><img src="none.gif" width="10" height="1"></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Garbage Disposal</font></td>
								<td><font style="font-size:13px;line-height:28px;" size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Jacuzzi Tub</font></td>
							</tr>
						</table>
						<h2 style="margin: 0 0 6px;"><font style="font-size:24px;line-height:28px; font-weight:normal;" size="3" color="#ffe8b0" face="Arial, Helvetica, sans-serif">Location Map</font></h2>
						<h3 style="margin: 0 0 15px;"><font style="font-size:15px;line-height:28px; font-weight:normal;" size="3" color="#fc7802" face="Arial, Helvetica, sans-serif"><i>llston Brighton JP Somerville Cambridge</i></font></h3>
						<table bgcolor="#373737" border="0" cellspacing="0" cellpadding="5">
							<tr><td><img src="map.jpg" width="545" height="250" vspace="0" hspace="0" align="left"></td></tr>
						</table>
					</td>
					<!-- /content -->
					<td><img src="none.gif" width="47" height="1"></td>
					<!-- sidebar -->
					<td>
						<table width="308" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><font style="font-size:24px;line-height:28px; font-weight:normal;" size="3" color="#ffe8b0" face="Arial, Helvetica, sans-serif">Additional Photos</font></td>
							</tr>
							<tr><td><img src="none.gif" width="1" height="16"></td></tr>
							<tr>
								<td>
									<table bgcolor="#4E4D4C" border="0" cellspacing="0" cellpadding="3">
										<tr><td><a href="#"><img src="img3.jpg" width="302" height="200" border="0" vspace="0" hspace="0" align="left"></a></td></tr>
									</table>
								</td>
							</tr>
							<tr><td><img src="none.gif" width="1" height="10"></td></tr>
							<tr>
								<td>
									<table bgcolor="#4E4D4C" border="0" cellspacing="0" cellpadding="3">
										<tr><td><a href="#"><img src="img4.jpg" width="302" height="200" border="0" vspace="0" hspace="0" align="left"></a></td></tr>
									</table>
								</td>
							</tr>
							<tr><td><img src="none.gif" width="1" height="10"></td></tr>
							<tr>
								<td>
									<table bgcolor="#4E4D4C" border="0" cellspacing="0" cellpadding="3">
										<tr><td><a href="#"><img src="img5.jpg" width="302" height="200" border="0" vspace="0" hspace="0" align="left"></a></td></tr>
									</table>
								</td>
							</tr>
							<tr><td><img src="none.gif" width="1" height="10"></td></tr>
							<tr>
								<td>
									<table bgcolor="#4E4D4C" border="0" cellspacing="0" cellpadding="3">
										<tr><td><a href="#"><img src="img6.jpg" width="302" height="200" border="0" vspace="0" hspace="0" align="left"></a></td></tr>
									</table>
								</td>
							</tr>
							<tr><td><img src="none.gif" width="1" height="10"></td></tr>
							
						</table>
					</td>
					<!-- /sidebar -->
					<td><img src="none.gif" width="30" height="1"></td>
				</tr>
			</table>
			<!-- /main area -->
		</td>
	</tr>
	<tr><td><img src="none.gif" width="1" height="41"></td></tr>
	<!-- footer -->
	<tr bgcolor="#1a1a1a" background="bg-footer.gif">
		<td>
			<table width="969" border="0" cellspacing="0" cellpadding="0">
				<tr><td><img src="none.gif" width="1" height="10"></td></tr>
				<tr>
					<td><img src="none.gif" width="12" height="1"></td>
					<td width="790"><font style="font-size:16px;line-height:20px;" size="2" color="#484747" face="Arial, Helvetica, sans-serif">Powered by </font><a href="#"><font style="font-size:16px;line-height:20px;" size="2" color="#ADACAC" face="Arial, Helvetica, sans-serif">Placester</font></a></td>
					<td>
						<a href="#" style="text-decoration: none;"><font style="font-size:36px;line-height:40px;" size="6" color="#FFFFFF" face="Arial, Helvetica, sans-serif">Placester</font></a>
						<br>
						<font style="font-size:10px;line-height:14px;" size="1" color="#ffe8b0" face="Arial, Helvetica, sans-serif">YOUR SLOGAN GOES HERE</font>
					</td>
				</tr>
				<tr><td><img src="none.gif" width="1" height="10"></td></tr>
			</table>
		</td>
	</tr>
	<!-- /footer -->
</table>