/* General Blog */
#main_content article header h3 {
  margin-bottom: 0; }
#main_content article header .p5 {
  margin: 0; }

.comment-list {
  list-style: none;
  margin: 10px 0 20px 0;
  width: 95%;
  padding: 15px;
  float: left; }
  .comment-list p {
    clear: both; }
  .comment-list li {
    float: left;
    margin: 0;
    padding: 20px 0 0;
    position: relative;
    list-style-type: none;
    width: inherit; }
  .comment-list .avatar {
    padding: 0;
    float: left;
    top: 0;
    margin: 0 10px 10px 0; }
  .comment-list .comment .comment-meta .comment-edit-link, .comment-list .comment .comment-author .comment-edit-link {
    float: right;
    font-size: 12px;
    line-height: 1.5em;
    font-weight: 300;
    text-decoration: none;
    padding: 0 8px; }

#respond {
  width: 95%;
  float: left;
  clear: both; }
  #respond form {
    float: left;
    width: 100%;
    margin-top: 10px;
    padding: 15px; }
  #respond .logged-in-as {
    margin: 5px inherit;
    font-size: 12px; }
  #respond .comment-form-comment label {
    margin-right: 20px; }
  #respond .form-allowed-tags {
    display: none; }
  #respond .form-submit {
    width: 95%; }
    #respond .form-submit input {
      float: right; }

article.post nav {
  padding: 0;
  margin-bottom: 20px; }
