.widget p {
  width: 100%;
  float: left; }
.widget.pls-agent img {
  margin: 0 10px 0 5px;
  float: left; }
.widget.pls-agent p {
  width: 160px; }
  .widget.pls-agent p.fn, .widget.pls-agent p.email, .widget.pls-agent p.phone, .widget.pls-agent p.desc {
    margin: 0 0 5px 0; }
  .widget.pls-agent p.desc {
    line-height: 17px; }
.widget.pls-agent a {
  word-wrap: break-word; }
.widget.pls-recent-posts .recent-post-title {
  margin-bottom: 0; }
.widget.pls-recent-posts .meta {
  margin: 0; }
.widget.pls-recent-posts .excerpt {
  margin: 5px 0; }
.widget.pls-recent-posts .read-more {
  margin-top: 0; }
.widget.pls-listings .listing-item {
  margin-bottom: 20px; }
  .widget.pls-listings .listing-item .listing-item-address {
    margin: 5px 0; }
  .widget.pls-listings .listing-item .details {
    margin-bottom: 5px; }
.widget.pls-map p.address {
  margin-top: 0; }
.widget.widget_calendar table {
  margin: 0 auto; }
  .widget.widget_calendar table td {
    padding: 10px; }
