div.wrap {
	position: relative;
}
#loading_overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    padding: 50px 0 0 40%;
    z-index: 1000;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
    font-weight: normal;
    text-shadow: rgba(255, 255, 255, 1) 0 1px 0
}

#titlewrap {
	float:left;
	clear:both;
	margin-bottom: 20px;
}

section#compound_type.pls_search_form {
	float: left;
	font-size: 18px;
	margin: 0 0 15px 0
}
section#compound_type.pls_search_form select {
	font-size: 18px;
	width: 300px
}
section#compound_type.pls_search_form label {
	margin: 8px 78px 0 0;
}

/* property type */
section#property_type-sublet.pls_search_form,
section#property_type-res_sale.pls_search_form,
section#property_type-res_rental.pls_search_form,
section#property_type-vac_rental.pls_search_form,
section#property_type-comm_sale.pls_search_form,
section#property_type-comm_rental.pls_search_form {
	width: 500px;
	padding: 0px;
	margin: 15px 0 10px 0;
}

section#property_type-sublet.pls_search_form select,
section#property_type-res_sale.pls_search_form select,
section#property_type-res_rental.pls_search_form select,
section#property_type-vac_rental.pls_search_form select,
section#property_type-comm_sale.pls_search_form select,
section#property_type-comm_rental.pls_search_form select,
section#property_type-sublet.pls_search_form select {
	float: left;
	font-size: 18px;
	width: 300px;
}

section#property_type-sublet.pls_search_form label,
section#property_type-res_sale.pls_search_form label,
section#property_type-res_rental.pls_search_form label,
section#property_type-vac_rental.pls_search_form label,
section#property_type-comm_sale.pls_search_form label,
section#property_type-comm_rental.pls_search_form label,
section#property_type-sublet.pls_search_form label {
 margin: 0px 30px 0 0;
 float: left;
 font-size: 18px;
 width: 150px;
}

section.form_group,section.form_group h3 {
	width: 98%;
	margin: 7px 0px !important;
}

.image_upload_bg {
	background-color: #F1F1F1;
	border: 1px solid #DFDFDF;
	width: 100px;
	height: 100px;
}
.wpspinner {
	background-image: url('../../images/datatable/wpspin_light.gif');
	background-repeat:no-repeat;
	width: 16px;
	height: 16px;
	margin: 38px auto;
}

#description .pls_search_form {
	width: 100%;
}
section.pls_search_form textarea {
	width: 97%;
}

section.pls_search_form.custom_data {
	width: 700px;
}




section#location.form_group section {
	float: left;
	width: 190px;
	padding: 10px;

}

.form_group {
	float: left;
	clear: both;
}
.form_group section {
	float: left;
	clear: right;
	width: 190px;
	padding: 10px;
	height: 40px
}
.pls_search_form select, .pls_search_form input {
	width: 190px;
}
.pls_search_form input[type="checkbox"] {
	width: 20px;
}

.address {
	float: left;
	width: 100px;
}
#post_title, {
	float: left;
}
input#post_title, label#post_title {
	float: left;
	height: 33px;
}

.has-right-sidebar #post-body-content {
	margin-right: 320px;	
}
.property_type-res_sale, .property_type-vac_rental, .property_type-res_rental, .property_type-comm_rental, .property_type-comm_sale {
	display:none;
}
.red {
	display: block;
	color: white;
	background: red;
}



/* Uploading Images */
#fileupload-holder-message li {
	float: left;
	list-style-type: none;
	padding: 10px;
}
#fileupload-holder-message img {
	float: left;
	clear: both;
}
#fileupload-holder-message a#remove_image {
	float: left;
	font-size: 16px;
	margin: 10px 0 0 21px;
	clear: both;	
}