.header-wrapper {
	float: left;
	width: 100%
}
.header-wrapper a {
	float: left;
	margin: 13px 0 0 10px;
}
.header-wrapper h2 {
	float: left;
}

.personal-column, .company-column {
	width: 48%;
	float: left;
}
.personal-column {
	margin-right: 20px;
}
.third {
	float: left;	
	width: 30%;
	margin-right: 10px;
}


#api_key_validation {
	display: none;
	color: red;
	font-weight: bold;
}
#api_key_success {
	display: none;
	color: green;
	font-weight: bold;
}
.existing_placester_modal_api_key {
	width: 400px;
}

