.header-wrapper {
	margin-top: 10px;
}

.search_filter_content section.form_group {
	float: left;
	clear:both;
}
.search_filter_content section.pls_search_form {
	float: left;
	margin-right: 10px;
	width: 200px;
}
.search_filter_content section.pls_search_form select {
	width: 200px;
}
.pls_search_form_submit_button {
	float: left;
}

.personal-column, .company-column {
	width: 48%;
	float: left;
}
.personal-column {
	margin-right: 20px;
}
.third {
	float: left;	
	width: 30%;
	margin-right: 10px;
}

.inside {
	margin-bottom: 20px;
}

#api_key_validation {
	display: none;
	color: red;
	font-weight: bold;
}
#api_key_success {
	display: none;
	color: green;
	font-weight: bold;
}
.existing_placester_modal_api_key {
	width: 400px;
}

.not-set-up {
	width: 350px;
	margin: 150px auto;
}

.green {
	color: green;
	font-weight: bold;
	font-size: 16px;
	margin-top: 15px; 
	padding-left: 10px; 
}

.red {
	color: red;
	font-weight: bold;
	font-size: 16px;
	margin-top: 15px; 
	padding-left: 10px; 
}

#cache_message, .global_filter_active {
	color: green;
	font-weight: bold;
	font-size: 16px;
	margin-top: 15px; 
	padding-left: 10px; 
}
.filters_active {
	background-color: #FFFBCC;
	border-color: #E6DB55;
	padding: 10px;
}


.set_default_country {
	float: left;
	width: 150px;
	margin-top: 12px;
}