/* Cleaning up jqueryUI's styles */
.ui-widget-header {
	border: none !important;
	background: none !important;
}
.ui-dialog-content {
	padding-top: 0px !important;
}
.ui-dialog-title h2 {
	margin: 5px 0 !important;
}
.ui-widget-overlay {
	opacity: 0.1 !important;
	-moz-opacity: 0.1 !important;
	filter:alpha(opacity=0.1);
}
/*    end     */

.left {
	float: left;
}
p.wizard-explination {
	font-size: 10px;
}
.ui-dialog-content .steps li {
	float: left;
	margin-right: 15px; 
}
.right-arrow {
	margin-left: 10px; 	
}
.active {
	font-weight: bold;
}