.ui-dialog-content div#confirm_email section#email {
	float:left;
}
.ui-dialog-content div#confirm_email label {
	float: left;
	font-weight: bold;
	vertical-align: middle;
	margin: 8px 10px 0px 0px;
	font-size: 16px;
}
.ui-dialog-content div#confirm_email input {
	width: 450px;
	font-size: 20px;
}

.ui-dialog-content div#api_key_form {
	float:left;
}
.ui-dialog-content div#api_key_form label {
	float: left;
	font-weight: bold;
	vertical-align: middle;
	margin: 8px 10px 0px 0px;
	font-size: 16px;
}
.ui-dialog-content div#api_key_form input {
	width: 450px;
	font-size: 20px;
}

