<table bgcolor="#eaeaea" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td width="50%"> </td>
		<td>
			<table width="913" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0">
				<tr bgcolor="#eaeaea">
				  <td colspan="3"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="34"></td>
				</tr>
				<tr>
				  <td width="49"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/bg1.png" width="48" height="94" hspace="0" vspace="0" align="left"></td>
				  <td width="815" bgcolor="#fafafa">
					<table border="0" cellspacing="0" cellpadding="0">
					<tr>
					  <td width="18"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="18" height="1"></td>
					  <td width="104">
				<table border="0" bgcolor="#ffffff" cellspacing="0" cellpadding="5" style="border-style:solid !important;border-color:#f1f1f1;border-width:1px;">
				  <tr>
				    <td>[user.headshot 108x92]</td>
				  </tr>
				</table>
			  </td>
			  <td width="22"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="22" height="1"></td>
			  <td width="250">
				<font style="font-size:18px;line-height:24px;" size="3" color="#666666" face="Arial, Helvetica, sans-serif">[user.first_last] [user.last_name]</font>
				<br>
				<font style="font-size:18px;line-height:22px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">[user.phone]</font>
				<br>
				<a href="mailto:[user.email]" style="text-decoration:underline;"><font style="font-size:14px;line-height:22px;" size="3" color="#666666" face="Arial, Helvetica, sans-serif">[user.email]</font></a>
			  </td>
			  <td width="421" align="right"><font style="font-size:36px;line-height:40px;" size="6" color="#ee7d03" face="Arial, Helvetica, sans-serif">[organization.name]</font>
				<br>
				<font style="font-size:14px;line-height:18px;" size="2" color="#666666" face="Arial, Helvetica, sans-serif">[organization.slogan]</font>
			  </td>
              <td width="18"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="18" height="22"></td>
			</tr>
				</table>
				  </td>
				  <td width="49"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/bg2.png" width="49" height="94" hspace="0" vspace="0" align="left"></td>
				</tr>
				<tr>
				  <td colspan="3" width="913"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/bg3.png" width="913" height="35"></td>
				</tr>
				<tr>
				  <td colspan="3">
					<table border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/bg4.png" width="40" height="303"></td>
                        <td width="401">[property.images.0 401x0]</td>
                        <td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/bg5.png" width="29" height="303"></td>
                        <td width="401">[property.images.1 401x0]</td>
                        <td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/bg6.png" width="42" height="303"></td>
					  </tr>
				</table>
				  </td>
				</tr>
				<tr>
		<td colspan="3" width="913"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/bg7.png" width="913" height="35"></td>
	  </tr>
	  <tr>
		<td colspan="3">
		  <table border="0" cellspacing="0" cellpadding="0">
			<tr>
			  <td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/bg8.png" width="137" height="64"></td>
			  <td><a href="#more-details"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/btn-more-details.png" width="218" height="64" border="0"></a></td>
			  <td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/bg9.png" width="201" height="64"></td>
			  <td><a href="[website.listings]" style="text-decoration:none;"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/btn-more-listings.png" width="218" height="64" border="0"></a></td>
			  <td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/bg10.png" width="139" height="64"></td>
			</tr>
		  </table>
		</td>
	  </tr>
	  <tr>
		<td colspan="3">
		  <table border="0" cellspacing="0" cellpadding="0">
			<tr>
			  <td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/bg11.png" width="137" height="59"></td>
			  <td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/shadow-more-details.png" width="218" height="59"></td>
			  <td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/bg12.png" width="201" height="59"></td>
			  <td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/shadow-more-listings.png" width="218" height="59"></td>
			  <td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/bg13.png" width="139" height="59"></td>
			</tr>
		  </table>
		</td>
	  </tr>
	  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="42"></td></tr>
	  <tr id="more-details">
		<td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="40" height="1"></td>
		<td>
		  <table border="0" cellspacing="0" cellpadding="0">
			<tr valign="top">
			  <!-- Sidebar start -->
			  <td width="355">
				<h2 style="margin:0 0 10px;"><font style="font-size:18px;line-height:22px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Photos</font></h2>
				<table border="0" cellspacing="0" cellpadding="0">
				  <tr>
					<td width="172">[property.images.2]</td>
					<td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="10" height="1"></td>
					<td width="172">[property.images.3]</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="10"></td></tr>
				  <tr>
					<td width="172">[property.images.4]</td>
					<td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="10" height="1"></td>
					<td width="172">[property.images.5]</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="10"></td></tr>
				  <tr>
					<td width="172">[property.images.6]</td>
					<td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="10" height="1"></td>
					<td width="172">[property.images.7]</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="20"></td></tr>
				</table>
				<h2 style="margin:0;"><font style="font-size:18px;line-height:22px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Location</font></h2>
				<address style="margin:0 0 10px;"><font style="font-size:14px;line-height:22px;font-style:normal;" size="3" color="#666666" face="'Lucida Sans Unicode', 'Lucida Grande', sans-serif"><b>[property.location.full_address]</b></font></address>
				[property.location.google 355x241]
			  </td>
			  <!-- Sidebar end -->
			  <td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="26" height="1"></td>
			  <!-- Content start -->
			  <td style="font-size:14px;line-height:18px;" width="434">
				<h2 style="margin:0 0 10px;"><font style="font-size:18px;line-height:22px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif"> Details</font></h2>
				<table border="0" cellspacing="0" cellpadding="0" style="font-size:14px;line-height:22px;">
				  <tr bgcolor="#f4f4f4">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Rent:</b></td>
					<td width="243">$[property.price] [property.price_per]</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="2"></td></tr>
				  <tr>
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Neighborhood:</b></td>
					<td width="243">[property.location.city]</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="2"></td></tr>
				  <tr bgcolor="#f4f4f4">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Bedroom(s):</b></td>
					<td width="243">[property.bedrooms]</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="2"></td></tr>
				  <tr>
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Bathroom(s):</b></td>
					<td width="243">[property.bathrooms]</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="2"></td></tr>
				  <tr bgcolor="#f4f4f4">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Half Bathrooms:</b></td>
					<td width="243">[property.half_baths]</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="20"></td></tr>
				</table>
				<h2 style="margin:0 0 10px;"><font style="font-size:18px;line-height:22px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Features</font></h2>
				<table border="0" cellspacing="0" cellpadding="0" style="font-size:14px;line-height:22px;">
                  [property.amenities.parking_included has]
				  <tr bgcolor="[cycle.amenities ffffff,f4f4f4]">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Parking:</b></td>
					<td width="243">Included</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="2"></td></tr>
                  [property.amenities.parking_included hasend]
                  [property.amenities.parking_garage has]
				  <tr bgcolor="[cycle.amenities ffffff,f4f4f4]">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Parking:</b></td>
					<td width="243">Garage</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="2"></td></tr>
                  [property.amenities.parking_garage hasend]
                  [property.amenities.parking_street has]
				  <tr bgcolor="[cycle.amenities ffffff,f4f4f4]">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Parking:</b></td>
					<td width="243">Street</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="2"></td></tr>
                  [property.amenities.parking_street hasend]
                  [property.amenities.parking_avail has]
				  <tr bgcolor="[cycle.amenities ffffff,f4f4f4]">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Parking:</b></td>
					<td width="243">Available</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="2"></td></tr>
                  [property.amenities.parking_avail hasend]

                  [property.amenities.heat_included has]
				  <tr bgcolor="[cycle.amenities ffffff,f4f4f4]">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Heat Included:</b></td>
					<td width="243">Yes</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="2"></td></tr>
                  [property.amenities.heat_included hasend]

                  [property.amenities.hotwater_included has]
				  <tr bgcolor="[cycle.amenities ffffff,f4f4f4]">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Hot Water Included:</b></td>
					<td width="243">Yes</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="2"></td></tr>
                  [property.amenities.hotwater_included hasend]

                  [property.amenities.gas_included has]
				  <tr bgcolor="[cycle.amenities ffffff,f4f4f4]">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Gas Included:</b></td>
					<td width="243">Yes</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="2"></td></tr>
                  [property.amenities.gas_included hasend]

                  [property.amenities.utilities_paid has]
				  <tr bgcolor="[cycle.amenities ffffff,f4f4f4]">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Utilities Included:</b></td>
					<td width="243">Yes</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="2"></td></tr>
                  [property.amenities.utilities_paid hasend]

                  [property.amenities.electricity_included has]
				  <tr bgcolor="[cycle.amenities ffffff,f4f4f4]">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Electricity Included:</b></td>
					<td width="243">Yes</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="2"></td></tr>
                  [property.amenities.electricity_included hasend]

                  [property.amenities.is_cable_ready has]
				  <tr bgcolor="[cycle.amenities ffffff,f4f4f4]">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>TV / Cable Ready:</b></td>
					<td width="243">Yes</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="20"></td></tr>
                  [property.amenities.is_cable_ready hasend]

                  [property.amenities.has_lawn has]
				  <tr bgcolor="[cycle.amenities ffffff,f4f4f4]">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Has Lawn:</b></td>
					<td width="243">Yes</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="20"></td></tr>
                  [property.amenities.has_lawn hasend]

                  [property.amenities.has_pool has]
				  <tr bgcolor="[cycle.amenities ffffff,f4f4f4]">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Pool Included:</b></td>
					<td width="243">Yes</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="20"></td></tr>
                  [property.amenities.has_pool hasend]

                  [property.amenities.has_security_system has]
				  <tr bgcolor="[cycle.amenities ffffff,f4f4f4]">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Alarm / Security System:</b></td>
					<td width="243">Yes</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="20"></td></tr>
                  [property.amenities.has_security_system hasend]

                  [property.amenities.has_basement has]
				  <tr bgcolor="[cycle.amenities ffffff,f4f4f4]">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Basement Access:</b></td>
					<td width="243">Yes</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="20"></td></tr>
                  [property.amenities.has_basement hasend]

                  [property.amenities.fee_one_month has]
				  <tr bgcolor="[cycle.amenities ffffff,f4f4f4]">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Fee:</b></td>
					<td width="243">Client pays one month</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="20"></td></tr>
                  [property.amenities.fee_one_month hasend]
                  [property.amenities.fee_half_month has]
				  <tr bgcolor="[cycle.amenities ffffff,f4f4f4]">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Fee:</b></td>
					<td width="243">Client pays half month</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="20"></td></tr>
                  [property.amenities.fee_half_month hasend]
                  [property.amenities.fee_owner has]
				  <tr bgcolor="[cycle.amenities ffffff,f4f4f4]">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Fee:</b></td>
					<td width="243">Owner pays</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="20"></td></tr>
                  [property.amenities.fee_owner hasend]
                  [property.amenities.fee_discounted has]
				  <tr bgcolor="[cycle.amenities ffffff,f4f4f4]">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Fee:</b></td>
					<td width="243">Discounted</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="20"></td></tr>
                  [property.amenities.fee_discounted hasend]

                  [property.amenities.dogs_permitted has]
				  <tr bgcolor="[cycle.amenities ffffff,f4f4f4]">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Pet(s):</b></td>
					<td width="243">Dogs permitted</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="20"></td></tr>
                  [property.amenities.dogs_permitted hasend]
                  [property.amenities.cats_permitted has]
				  <tr bgcolor="[cycle.amenities ffffff,f4f4f4]">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Pet(s):</b></td>
					<td width="243">Cats permitted</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="20"></td></tr>
                  [property.amenities.cats_permitted hasend]
                  [property.amenities.pet_with_approval has]
				  <tr bgcolor="[cycle.amenities ffffff,f4f4f4]">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Pet(s):</b></td>
					<td width="243">Pets with approval</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="20"></td></tr>
                  [property.amenities.pet_with_approval hasend]
                  [property.amenities.no_pets has]
				  <tr bgcolor="[cycle.amenities ffffff,f4f4f4]">
					<td width="6"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="6" height="1"></td>
					<td width="201"><b>Pet(s):</b></td>
					<td width="243">Not allowed</td>
				  </tr>
				  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="20"></td></tr>
                  [property.amenities.no_pets hasend]
				</table>
				<h2 style="margin:0 0 10px;"><font style="font-size:18px;line-height:22px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Description</font></h2>
				<p style="margin:0 0 30px;">[property.description]</p>
			    </td>
			  <!-- Content end -->
			</tr>
			<tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="15"></td></tr>
			<tr>
			  <!-- contact information start -->
			  <td colspan="3">
				<table border="0" cellspacing="0" cellpadding="0">
				  <tr valign="top">
					<td>
					  <table border="0" bgcolor="#ffffff" cellspacing="0" cellpadding="5" style="border-style:solid !important;border-color:#f1f1f1;border-width:1px;">
						<tr>
				    		<td>[user.headshot 108x79]</td>
						</tr>
					  </table>
					</td>
					<td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="22" height="1"></td>
					<td width="220">
					  <h2 style="margin:0 0 3px;"><font style="font-size:18px;line-height:22px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Contact:</font></h2>
					  <font style="font-size:16px;line-height:18px;" size="3" color="#666666" face="Arial, Helvetica, sans-serif">[user.full_name]</font><br>
					  <font style="font-size:16px;line-height:18px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">[user.phone]</font><br>
					  <a href="mailto:[user.email]" style="text-decoration:underline;"><font style="font-size:16px;line-height:18px;" size="3" color="#666666" face="Arial, Helvetica, sans-serif">[user.email]</font></a></td>
					<td>
					  <font style="font-size:14px;line-height:18px;" size="2" color="#666666" face="Arial, Helvetica, sans-serif"><strong>More about [user.first_name]:</strong><br>
					  [user.about]</font>					</td>
				  </tr>
                  <tr><td colspan="4"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="15"></td>
                  </tr>
				</table>
			  </td>
			  <!-- contact information end -->
			</tr>
		  </table>
		</td>
		<td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="40" height="1"></td>
	  </tr>
	  <tr><td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="3"></td></tr>
	  <tr bgcolor="#1f1919">
		<td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="40" height="1"></td>
		<!-- footer start -->
		<td>
		  <table border="0" cellspacing="5" cellpadding="5">
			  <td width="350"><a style="text-decoration:underline;" href="http://placester.com/tools/craigslist/"><font style="font-size:14px;line-height:18px;" size="2" color="#999999" face="Arial, Helvetica, sans-serif"><b>Powered by Placester</b></font></a></td>
			  <td width="430" align="right">
				<font style="font-size:36px;line-height:40px;" size="6" color="#555555" face="Arial, Helvetica, sans-serif">[organization.name]</font>
				<br>
				<font style="font-size:14px;line-height:18px;" size="2" color="#666666" face="Arial, Helvetica, sans-serif">[organization.slogan]</font>			  </td>
			</tr>
		  </table>
		</td>
		<!-- footer end -->
		<td><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="40" height="1"></td>
          </tr>
			</table>
		</td>
		<td width="50%"></td>
	</tr>
    <tr bgcolor="#eaeaea">
      <td colspan="3"><img src="http://templates.cdn.placester.net/craigslist/allure/blue/none.gif" width="1" height="34"></td>
    </tr>
</table>