<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Placester</title>
	<style type="text/css">
		a {text-decoration:none;}
		a:hover {text-decoration:underline;}
		body {color: #666666; font-family: Arial, Helvetica, sans-serif;}
	</style>
</head>
<body bgcolor="#eaeaea" leftmargin="0" rightmargin="0" topmargin="0" bottommargin="0">
	<table bgcolor="#eaeaea" width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td width="50%"></td>
			<td>
				<table border="0" width="969" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" style="border-width: 0 1px; border-color: #4c4c4c; border-style: solid;">
					<!-- header -->
					<tr>
						<td>
							<table width="969" border="0" cellspacing="0" cellpadding="0" background="bg-header.gif">
								<tr>
									<td><img src="none.gif" width="1" height="8" /></td>
								</tr>
								<tr>
									<td><img src="none.gif" width="13" height="1"></td>
									<td>
										<table border="0" bgcolor="#ffffff" cellspacing="0" cellpadding="5">
											<tr><td><img src="img1.gif" width="65" height="66" vspace="0" hspace="0" align="left"></td></tr>
										</table>
									</td>
									<td><img src="none.gif" width="12" height="1"></td>
									<td width="685">
										<font style="font-size:24px;line-height:24px;font-weight: bold;" size="3" color="#666666" face="Arial, Helvetica, sans-serif">Karen Smith</font>
										<br>
										<font style="font-size:12px;line-height:14px;" size="3" color="#666666" face="Arial, Helvetica, sans-serif">Phone: 617-819-248<br>Email:
											<a href="#"><font style="font-size:12px;line-height:14px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">k.smith@loremproperty.com</font></a>
											<br>
											<a href="#"><font style="font-size:12px;line-height:14px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Ask Me A Question</font></a>
											|
											<a href="#"><font style="font-size:12px;line-height:14px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Search My Apartments</font></a>
										 </font>
									</td>
									<td>
										<a href="#" style="text-decoration: none;"><font style="font-size:36px;line-height:40px;" size="6" color="#ee7d03" face="Arial, Helvetica, sans-serif">Placester</font></a>
										<br>
										<font style="font-size:14px;line-height:18px;" size="2" color="#666666" face="Arial, Helvetica, sans-serif">Your slogan goes here</font>
									</td>
								</tr>
								<tr>
									<td><img src="none.gif" width="1" height="18" /></td>
								</tr>
							</table>
						</td>
					</tr>
					<!-- /header -->
					<!-- intro-block -->
					<tr>
						<td>
							<table	width="969" border="0" cellspacing="0" cellpadding="0" bgcolor="#264b72" background="bg-intro.gif">
								<tr>
									<td><img src="none.gif" width="1" height="22"></td>
								</tr>
								<tr>
									<td><img src="none.gif" width="13" height="1"></td>
									<td width="532">
										<table border="0" cellspacing="0" cellpadding="8" bgcolor="#ffffff">
											<tr>
												<td><img src="img2.jpg" width="516" height="370"	vspace="0" hspace="0" align="left"></td>
											</tr>
										</table>
									</td>
									<td>
										<img src="none.gif" width="42" height="1">
									</td>
									<td>
										<table border="0" cellspacing="0" cellpadding="0" width="370">
											<tr>
												<td><font style="font-size:24px;line-height:28px;font-weight:bold;" size="3" color="#ffffff" face="Arial, Helvetica, sans-serif">3 Bedroom, 2 Bathroom,<br> lorem ipsum appartment</font></td>
											</tr>
											<tr><td><img src="none.gif" width="1" height="14" /></td></tr>
											<tr>
												<td>
													<table bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="5">
														<tr>
															<td>
																<table width="358" border="0" cellspacing="0" cellpadding="11">
																	<tr bgcolor="#EAEAEA">
																		<td width="105"><font style="font-size:14px;line-height:14px;" size="3" color="#1d1d1d" face="Arial, Helvetica, sans-serif"><b>Property Type:</b></font></td>
																		<td><font style="font-size:14px;line-height:14px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif">Appartment</font></td>
																	</tr>
																	<tr>
																		<td width="105"><font style="font-size:14px;line-height:14px;" size="3" color="#1d1d1d" face="Arial, Helvetica, sans-serif"><b>Bedrooms:</b></font></td>
																		<td><font style="font-size:14px;line-height:14px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif">2</font></td>
																	</tr>
																	<tr bgcolor="#EAEAEA">
																		<td width="105"><font style="font-size:14px;line-height:14px;" size="3" color="#1d1d1d" face="Arial, Helvetica, sans-serif"><b>Bathrooms:</b></font></td>
																		<td><font style="font-size:14px;line-height:14px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif">1</font></td>
																	</tr>
																	<tr>
																		<td width="105"><font style="font-size:14px;line-height:14px;" size="3" color="#1d1d1d" face="Arial, Helvetica, sans-serif"><b>Available:</b></font></td>
																		<td><font style="font-size:14px;line-height:14px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif">Now</font></td>
																	</tr>
																	<tr bgcolor="#EAEAEA">
																		<td width="105"><font style="font-size:14px;line-height:14px;" size="3" color="#1d1d1d" face="Arial, Helvetica, sans-serif"><b>Rent:</b></font></td>
																		<td><font style="font-size:14px;line-height:14px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif">$5,500.00</font></td>
																	</tr>
																	<tr>
																		<td width="105"><font style="font-size:14px;line-height:14px;" size="3" color="#1d1d1d" face="Arial, Helvetica, sans-serif"><b>Inclusion:</b></font></td>
																		<td><font style="font-size:14px;line-height:14px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif">Heater, Hot Water</font></td>
																	</tr>
																	<tr bgcolor="#EAEAEA">
																		<td width="105"><font style="font-size:14px;line-height:14px;" size="3" color="#1d1d1d" face="Arial, Helvetica, sans-serif"><b>Referral ID:</b></font></td>
																		<td><font style="font-size:14px;line-height:14px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif">LOREM-321-987</font></td>
																	</tr>
																</table>
															</td>
														</tr>
														</table>
												</td>
											</tr>
											<tr>
												<td><img src="none.gif" width="1" height="18"></td>
											</tr>
											<tr>
												<td>
													<table border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td><a href="#"><img src="btn-learn-more.gif" border="0" width="148" height="51" vspace="0" hspace="0" align="left"></a></td>
															<td><img src="none.gif" width="9" height="1"></td>
															<td><a href="#"><img src="btn-more-listings.gif" border="0" width="171" height="51" vspace="0" hspace="0" align="left"></a></td>
														</tr>
													</table>
													
													
													
												</td>
											</tr>
										</table>
									</td>
									<td><img src="none.gif" width="12" height="1"></td>
								</tr>
								<tr>
									<td><img src="none.gif" width="1" height="17"></td>
								</tr>
							</table>
						</td>
					</tr>
					<!-- /intro-block -->
					<tr>
						<td>
							<!-- main area -->
							<table border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td><img src="none.gif" height="22" width="1"></td>
								</tr>
								<tr valign="top">
									<td><img src="none.gif" height="1" width="13"></td>
									<!-- content -->
									<td>
										<h2 style="margin: 0 0 20px;"><font style="font-size:24px;line-height:28px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif"><b>Description</b></font></h2>
										<p style="margin: 0 0 20px; font-size:14px;line-height:18px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quam orci, bibendum et auctor vitae, tempus vel nisi. Fusce at suscipit purus. Quisque et massa eget quam ornare blandit. Sed ultrices, lectus non luctus porta, massa leo viverra odio, a imperdiet sapien enim sit amet mauris. Cras tincidunt lobortis purus non viverra. Quisque hendrerit, orci vel congue tempor, lacus libero hendrerit ipsum, facilisis cursus nulla orci at eros. Curabitur feugiat, metus et convallis condimentum, eros dolor accumsan risus, sed venenatis tellus leo id mi. Integer laoreet sem a nisl ornare convallis. Duis mollis, eros ac egestas convallis, mauris sapien consectetur sem, in dictum dui lacus vel dolor.</p>
										<h2 style="margin: 0 0 20px;"><font style="font-size:24px;line-height:28px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif"><b>Photos</b></font></h2>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td>
													<table border="0" bgcolor="#EFEFEF" cellspacing="0" cellpadding="4">
														<tr>
															<td><a href="#"><img src="img3.jpg" width="249" height="222" border="0" vspace="0" hspace="0" align="left"></a></td>
														</tr>
													</table>
												</td>
												<td><img src="none.gif" width="9" height="1" /></td>
												<td>
													<table border="0" bgcolor="#EFEFEF" cellspacing="0" cellpadding="4">
														<tr>
															<td><a href="#"><img src="img4.jpg" width="249" height="222" border="0" vspace="0" hspace="0" align="left"></a></td>
														</tr>
													</table>
												</td>
											</tr>
											<tr>
												<td><img src="none.gif" width="1" height="5" /></td>
											</tr>
											<tr>
												<td colspan="3">
													<table border="0" bgcolor="#EFEFEF" cellspacing="0" cellpadding="4">
														<tr>
															<td><a href="#"><img src="img5.jpg" width="516" height="222" border="0" vspace="0" hspace="0" align="left"></a></td>
														</tr>
													</table>
												</td>
											</tr>
											<tr>
												<td><img src="none.gif" width="1" height="5" /></td>
											</tr>
											<tr>
												<td>
													<table border="0" bgcolor="#EFEFEF" cellspacing="0" cellpadding="4">
														<tr>
															<td><a href="#"><img src="img6.jpg" width="249" height="222" border="0" vspace="0" hspace="0" align="left"></a></td>
														</tr>
													</table>
												</td>
												<td><img src="none.gif" width="9" height="1" /></td>
												<td>
													<table border="0" bgcolor="#EFEFEF" cellspacing="0" cellpadding="4">
														<tr>
															<td><a href="#"><img src="img7.jpg" width="249" height="222" border="0" vspace="0" hspace="0" align="left"></a></td>
														</tr>
													</table>
												</td>
											</tr>
											<tr>
												<td><img src="none.gif" width="1" height="5" /></td>
											</tr>
											<tr>
												<td colspan="3">
													<table border="0" bgcolor="#EFEFEF" cellspacing="0" cellpadding="4">
														<tr>
															<td><a href="#"><img src="img8.jpg" width="516" height="222" border="0" vspace="0" hspace="0" align="left"></a></td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
									<!-- /content -->
									<td><img src="none.gif" width="42" height="1"></td>
									<!-- sidebar -->
									<td>
										<table width="368" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td><font style="font-size:24px;line-height:28px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif"><b>Features</b></font></td>
											</tr>
											<tr><td><img src="#" width="1" height="11"></td></tr>
											<tr><td><a href="#"><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Parking Available</font></a></td></tr>
											<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
											<tr><td><a href="#"><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">New/Renovated Bath</font></a></td></tr>
											<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
											<tr><td><a href="#"><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Disposal</font></a></td></tr>
											<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
											<tr><td><a href="#"><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Granite Counter Tops</font></a></td></tr>
											<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
											<tr><td><a href="#"><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">New/Renovated Kitchen</font></a></td></tr>
											<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
											<tr><td><a href="#"><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Eat-in Kitchen</font></a></td></tr>
											<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
											<tr><td><a href="#"><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Marble Bathroom Floors</font></a></td></tr>
											<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
											<tr><td><a href="#"><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Stainless Steel Appliance(s)</font></a></td></tr>
											<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
											<tr><td><a href="#"><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Laundry in Building</font></a></td></tr>
											<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
											<tr><td><a href="#"><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Dramtic harbor views</font></a></td></tr>
											<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
											<tr><td><a href="#"><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Frameless shower</font></a></td></tr>
											<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
											<tr><td><a href="#"><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Hardwood floors throughout</font></a></td></tr>
											<tr><td><img src="#" width="1" height="11"></td></tr>
											<tr>
												<td><font style="font-size:24px;line-height:28px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif"><b>Transportation</b></font></td>
											</tr>
											<tr><td><img src="#" width="1" height="11"></td></tr>
											<tr>
												<td><font style="font-size:18px;line-height:20px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif"><b>Buses</b></font></td>
											</tr>
											<tr><td><img src="#" width="1" height="11"></td></tr>
											<tr><td><a href="#"><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">77 - Massachusetts Ave &amp; Upland Rd (6 min)</font></a></td></tr>
											<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
											<tr><td><a href="#"><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">83 - Somerville Ave &amp; White St (7 min)</font></a></td></tr>
											<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
											<tr><td><a href="#"><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">96 - Massachusetts Ave &amp; Davenport St (8 min)</font></a></td></tr>
											<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
											<tr><td><a href="#"><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">78 - Concord Ave &amp; Huron Ave (12 min)</font></a></td></tr>
											<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
											<tr><td><a href="#"><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">74 - Concord Ave &amp; Huron Ave (12 min)</font></a></td></tr>
											<tr><td><img src="#" width="1" height="11"></td></tr>
											<tr>
												<td><font style="font-size:18px;line-height:20px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif"><b>Subways</b></font></td>
											</tr>
											<tr><td><img src="#" width="1" height="11"></td></tr>
											<tr><td><a href="#"><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">RED - Porter Square (7 min)</font></a></td></tr>
											<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
											<tr><td><img src="#" width="1" height="11"></td></tr>
											<tr>
												<td><font style="font-size:24px;line-height:28px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif"><b>Points of Interest</b></font></td>
											</tr>
											<tr><td><img src="#" width="1" height="11"></td></tr>
											<tr><td><a href="#"><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Harvard Square</font></a></td></tr>
											<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
											<tr><td><a href="#"><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Harvard University</font></a></td></tr>
											<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
											<tr><td><a href="#"><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Lesley University</font></a></td></tr>
											<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
											<tr><td><a href="#"><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">T Line - Red</font></a></td></tr>
											<tr><td><img src="#" width="1" height="11"></td></tr>
											<tr>
												<td><font style="font-size:24px;line-height:28px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif"><b>Location</b></font></td>
											</tr>
											<tr><td><img src="#" width="1" height="11"></td></tr>
											<tr>
												<td>
													<table bgcolor="#ececec" border="0" cellspacing="0" cellpadding="4">
														<tr>
															<td><img src="map.jpg" width="359" height="282"></td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
									<!-- /sidebar -->
									<td><img src="none.gif" width="13" height="1"></td>
								</tr>
						 	</table>
							<!-- /main area -->
						</td>
					</tr>
					<tr><td><img src="none.gif" width="1" height="25" /></td></tr>
					<!-- footer -->
					<tr bgcolor="#1a1a1a" background="bg-footer.gif">
						<td>
							<table width="969" border="0" cellspacing="0" cellpadding="0">
								<tr><td><img src="none.gif" width="1" height="10"></td></tr>
								<tr valign="top">
									<td><img src="none.gif" width="12" height="1"></td>
									<td width="790"><font style="font-size:12px;line-height:14px;" size="2" color="#DCDCDC" face="Arial, Helvetica, sans-serif"><b>Powered by Placester</b></font></td>
									<td>
										<a href="#" style="text-decoration: none;"><font style="font-size:36px;line-height:40px;" size="6" color="#e07b04" face="Arial, Helvetica, sans-serif">Placester</font></a>
										<br>
										<font style="font-size:14px;line-height:18px;" size="2" color="#CECECE" face="Arial, Helvetica, sans-serif">Your slogan goes here</font>
									</td>
								</tr>
								<tr><td><img src="none.gif" width="1" height="10"></td></tr>
							</table>
						</td>
					</tr>
					<!-- /footer -->
				</table>
			</td>
			<td width="50%"></td>
		</tr>
	</table>
</body>
</html>