<table border="0" width="969" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" style="border-width: 0 1px; border-color: #4c4c4c; border-style: solid;">
	<!-- header -->
	<tr>
		<td>
			<table width="969" border="0" cellspacing="0" cellpadding="0" background="bg-header.gif">
				<tr>
					<td width="13"><img src="none.gif" width="1" height="8" /></td>
			  </tr>
				<tr>
					<td><img src="none.gif" width="13" height="1"></td>
					<td width="75">
			<table border="0" bgcolor="#ffffff" cellspacing="0" cellpadding="5">
			<tr><td>[user.headshot 65x66]</td>
			</tr>
			</table>
		</td>
		<td width="12"><img src="none.gif" width="12" height="1"></td>
		<td width="354">
			<font style="font-size:24px;line-height:24px;font-weight: bold;" size="3" color="#666666" face="Arial, Helvetica, sans-serif">[user.first_last] [user.last_name]</font>
			<br>
			<font style="font-size:12px;line-height:14px;" size="3" color="#666666" face="Arial, Helvetica, sans-serif">Phone: [user.phone]<br>Email:
			<a href="mailto:[user.email]"><font style="font-size:12px;line-height:14px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">[user.email]</font></a>
			<br>
			<a href="mailto:[user.email]"><font style="font-size:12px;line-height:14px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Ask Me A Question</font></a>
			|
			<a href="[website.listings]"><font style="font-size:12px;line-height:14px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Search My Apartments</font></a>
			 </font>
		</td>
		<td width="515" align="right">
			<font style="font-size:36px;line-height:40px;" size="6" color="#ee7d03" face="Arial, Helvetica, sans-serif">[organization.name]</font>
			<br>
			<font style="font-size:14px;line-height:18px;" size="2" color="#666666" face="Arial, Helvetica, sans-serif">[organization.slogan]</font>		</td>
			  </tr>
				<tr>
					<td><img src="none.gif" width="1" height="18" /></td>
				</tr>
			</table>
		</td>
	</tr>
	<!-- /header -->
	<!-- intro-block -->
	<tr>
		<td>
			<table	width="969" border="0" cellspacing="0" cellpadding="0" bgcolor="#264b72" background="bg-intro.gif">
				<tr>
					<td><img src="none.gif" width="1" height="22"></td>
				</tr>
				<tr>
					<td><img src="none.gif" width="13" height="1"></td>
					<td width="532">
					<table border="0" cellspacing="0" cellpadding="8" bgcolor="#ffffff">
				<tr>
					<td>[property.images.0 516x0]</td>
				</tr>
				</table>
					</td>
					<td>
					<img src="none.gif" width="42" height="1">
					</td>
					<td>
					<table border="0" cellspacing="0" cellpadding="0" width="370">
				<tr>
					<td><font style="font-size:24px;line-height:28px;font-weight:bold;" size="3" color="#ffffff" face="Arial, Helvetica, sans-serif">Details</font></td>
				</tr>
				<tr><td><img src="none.gif" width="1" height="14" /></td></tr>
				<tr>
					<td>
							<table bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="5">
								<tr>
									<td>
									<table width="358" border="0" cellspacing="0" cellpadding="11">
											<tr bgcolor="#EAEAEA">
					<td width="105"><font style="font-size:14px;line-height:14px;" size="3" color="#1d1d1d" face="Arial, Helvetica, sans-serif"><b>Rent:</b></font></td>
					<td><font style="font-size:14px;line-height:14px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif">$[property.price] [property.price_per]</font></td>
					</tr>
					<tr>
					<td width="105"><font style="font-size:14px;line-height:14px;" size="3" color="#1d1d1d" face="Arial, Helvetica, sans-serif"><b>Bedroom(s):</b></font></td>
					<td><font style="font-size:14px;line-height:14px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif">[property.bedrooms]</font></td>
					</tr>
					<tr bgcolor="#EAEAEA">
					<td width="105"><font style="font-size:14px;line-height:14px;" size="3" color="#1d1d1d" face="Arial, Helvetica, sans-serif"><b>Bathroom(s):</b></font></td>
					<td><font style="font-size:14px;line-height:14px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif">[property.bathrooms]</font></td>
					</tr>
					<tr>
					<td width="105"><font style="font-size:14px;line-height:14px;" size="3" color="#1d1d1d" face="Arial, Helvetica, sans-serif"><b>Availability:</b></font></td>
					<td><font style="font-size:14px;line-height:14px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif">[property.available_on]</font></td>
					</tr>
									</table>
									</td>
								</tr>
								</table>
					</td>
				</tr>
				<tr>
					<td><img src="none.gif" width="1" height="18"></td>
				</tr>
				<tr>
					<td>
					<table border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td><a href="#learn-more"><img src="btn-learn-more.gif" border="0" width="148" height="51" vspace="0" hspace="0" align="left"></a></td>
									<td><img src="none.gif" width="9" height="1"></td>
									<td><a href="[website.listings]"><img src="btn-more-listings.gif" border="0" width="171" height="51" vspace="0" hspace="0" align="left"></a></td>
								</tr>
							</table>
					
					
					
					</td>
				</tr>
				</table>
					</td>
					<td><img src="none.gif" width="12" height="1"></td>
				</tr>
				<tr>
					<td><img src="none.gif" width="1" height="17"></td>
				</tr>
			</table>
		</td>
	</tr>
	<!-- /intro-block -->
	<tr>
		<td>
		<!-- main area -->
		<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td><img src="none.gif" height="22" width="1"></td>
		</tr>
		<tr valign="top">
			<td><img src="none.gif" height="1" width="13"></td>
			<!-- content -->
			<td width="533" id="learn-more">
	<h2 style="margin: 0 0 20px;" id="learn-more"><font style="font-size:24px;line-height:28px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif"><b>Description</b></font></h2>
	<p style="margin: 0 0 20px; font-size:14px;line-height:18px;">[property.description]</p>
	<h2 style="margin: 0 0 20px;"><font style="font-size:24px;line-height:28px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif"><b>Photos</b></font></h2>
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
		<td>
			<table border="0" bgcolor="#EFEFEF" cellspacing="0" cellpadding="4">
			<tr>
				<td>[property.images.0 249x0]</td>
			</tr>
			</table>
		</td>
		<td><img src="none.gif" width="9" height="1" /></td>
		<td>
			<table border="0" bgcolor="#EFEFEF" cellspacing="0" cellpadding="4">
			<tr>
				<td>[property.images.1 249x0]</td>
			</tr>
			</table>
		</td>
		</tr>
		<tr>
		<td><img src="none.gif" width="1" height="5" /></td>
		</tr>
		<tr>
		<td colspan="3">
			<table border="0" bgcolor="#EFEFEF" cellspacing="0" cellpadding="4">
			<tr>
				<td>[property.images.2 516x0]</td>
			</tr>
			</table>
		</td>
		</tr>
		<tr>
		<td><img src="none.gif" width="1" height="5" /></td>
		</tr>
		<tr>
		<td>
			<table border="0" bgcolor="#EFEFEF" cellspacing="0" cellpadding="4">
			<tr>
				<td>[property.images.3 249x0]</td>
			</tr>
			</table>
		</td>
		<td><img src="none.gif" width="9" height="1" /></td>
		<td>
			<table border="0" bgcolor="#EFEFEF" cellspacing="0" cellpadding="4">
			<tr>
				<td>[property.images.4 249x0]</td>
			</tr>
			</table>
		</td>
		</tr>
		<tr>
		<td><img src="none.gif" width="1" height="5" /></td>
		</tr>
		<tr>
		<td colspan="3">
			<table border="0" bgcolor="#EFEFEF" cellspacing="0" cellpadding="4">
			<tr>
				<td>[property.images.5 516x0]</td>
			</tr>
			</table>
		</td>
		</tr>
	</table>
			</td>
	<!-- /content -->
	<td><img src="none.gif" width="42" height="1"></td>
	<!-- sidebar -->
	<td>
	<table width="368" border="0" cellspacing="0" cellpadding="0">
		<tr>
		<td><font style="font-size:24px;line-height:28px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif"><b>Features</b></font></td>
		</tr>
		<tr><td><img src="#" width="1" height="11"></td></tr>
        [property.amenities.parking_included has]
		<tr><td><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Parking Included</font></td></tr>
        [property.amenities.parking_included hasend]
        [property.amenities.parking_garage has]
		<tr><td><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Garage Parking</font></td></tr>
        [property.amenities.parking_garage hasend]
        [property.amenities.parking_street has]
		<tr><td><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Street Parking</font></td></tr>
        [property.amenities.parking_street hasend]
        [property.amenities.parking_avail has]
		<tr><td><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Parking Available</font></td></tr>
        [property.amenities.parking_avail hasend]
		<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>

        [property.amenities.heat_included has]
		<tr><td><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Heat Included</font></td></tr>
        [property.amenities.heat_included hasend]
        [property.amenities.hotwater_included has]
		<tr><td><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Hot Water Included</font></td></tr>
        [property.amenities.hotwater_included hasend]
        [property.amenities.gas_included has]
		<tr><td><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Gas Included</font></td></tr>
        [property.amenities.gas_included hasend]
		<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>

        [property.amenities.utilities_paid has]
		<tr><td><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Utilities Included</font></td></tr>
        [property.amenities.utilities_paid hasend]
		<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>

        [property.amenities.electricity_included has]
		<tr><td><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Electricity Included</font></td></tr>
        [property.amenities.electricity_included hasend]
		<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>

        [property.amenities.is_cable_ready has]
		<tr><td><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Cable Included</font></td></tr>
        [property.amenities.is_cable_ready hasend]
		<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>

        [property.amenities.has_lawn has]
		<tr><td><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Has Lawn</font></td></tr>
        [property.amenities.has_lawn hasend]
		<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>

        [property.amenities.has_pool has]
		<tr><td><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Pool Included</font></td></tr>
        [property.amenities.has_pool hasend]
		<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>

        [property.amenities.has_security_system has]
		<tr><td><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Alarm / Security System</font></td></tr>
        [property.amenities.has_security_system hasend]
		<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>

        [property.amenities.has_basement has]
		<tr><td><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Has Basement</font></td></tr>
        [property.amenities.has_basement hasend]
		<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>

        [property.amenities.fee_one_month has]
		<tr><td><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Fee: Client pays first month</font></td></tr>
        [property.amenities.fee_one_month hasend]
		<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
        [property.amenities.fee_half_month has]
		<tr><td><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Fee: Client pays half month</font></td></tr>
        [property.amenities.fee_half_month hasend]
		<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
        [property.amenities.fee_owner has]
		<tr><td><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Fee: Owner pays</font></td></tr>
        [property.amenities.fee_owner hasend]
		<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
        [property.amenities.fee_discounted has]
		<tr><td><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Fee: discounted</font></td></tr>
        [property.amenities.fee_discounted hasend]
		<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>

        [property.amenities.dogs_permitted has]
		<tr><td><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Dogs permitted</font></td></tr>
        [property.amenities.dogs_permitted hasend]
		<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
        [property.amenities.cats_permitted has]
		<tr><td><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Cats permitted</font></td></tr>
        [property.amenities.cats_permitted hasend]
		<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
        [property.amenities.pet_with_approval has]
		<tr><td><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">Pets permitted upon approval</font></td></tr>
        [property.amenities.pet_with_approval hasend]
		<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
        [property.amenities.no_pets has]
		<tr>
		  <td><font style="font-size:14px;line-height:29px;" size="3" color="#287aac" face="Arial, Helvetica, sans-serif">No pets allowed</font></td>
		</tr>
        [property.amenities.no_pets hasend]
		<tr><td bgcolor="#dee9f0"><img src="none.gif" height="1" width="1"></td></tr>
		<tr>
		<td><font style="font-size:24px;line-height:28px;" size="3" color="#828181" face="Arial, Helvetica, sans-serif"><b>Location</b></font></td>
		</tr>
		<tr><td><img src="#" width="1" height="11"></td></tr>
		<tr>
		<td>
			<table bgcolor="#ececec" border="0" cellspacing="0" cellpadding="4">
			<tr>
				<td><address style="margin:0 0 10px;"><font style="font-size:14px;line-height:14px;" size="3" color="#828181" face="'Arial, Helvetica, sans-serif"><b>[property.location.full_address]</b></font></address>
				[property.location.google 359x282]</td>
			</tr>
			</table>
		</td>
		</tr>
	</table>
	</td>
	<!-- /sidebar -->
	<td><img src="none.gif" width="13" height="1"></td>
		</tr>
	</table>
		<!-- /main area -->
		</td>
	</tr>
	<tr><td><img src="none.gif" width="1" height="25" /></td></tr>
	<!-- footer -->
	<tr bgcolor="#1a1a1a" background="bg-footer.gif">
<td>
<table width="969" border="0" cellspacing="0" cellpadding="0">
<tr><td width="13"><img src="none.gif" width="1" height="10"></td>
</tr>
<tr valign="top">
	<td><img src="none.gif" width="12" height="1"></td>
	<td width="533" valign="middle"><a style="text-decoration:underline;" href="http://placester.com/tools/craigslist/"><font style="font-size:12px;line-height:14px;" size="2" color="#DCDCDC" face="Arial, Helvetica, sans-serif"><b>Powered by Placester</b></font></a></td>
	<td width="423" align="right" valign="middle">
	<font style="font-size:36px;line-height:40px;" size="6" color="#e07b04" face="Arial, Helvetica, sans-serif">[organization.name]</font>
	<br>
	<font style="font-size:14px;line-height:18px;" size="2" color="#CECECE" face="Arial, Helvetica, sans-serif">[organization.slogan]</font>
	</td>
</tr>
<tr><td><img src="none.gif" width="1" height="10"></td></tr>
</table>
</td>
	</tr>
<!-- /footer -->
</table>
